doctype transitional
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		title=Lysmesteren
		block head
	body(style="margin: 0; background-color: #ffffff;")
		table(width="100%", cellspacing="0", cellpadding="0", border="0", style="font-family: Myriad Pro, Verdana, Arial, Helvetica, sans-serif;")
			tbody
				// Upper space
				tr
					td(width="100%", height="10")
				// Upper shadow
				tr
					td(width="100%")
						table(width="680", align="center", cellspacing="0", cellpadding="0", border="0")
							tbody
								tr
									td(width="11")
										img(src="images/mailtemplate/shadow_corder_left_top.jpg")
									td
										img(src="images/mailtemplate/shadow_top.jpg", width="100%", height="11")
									td(width="11")
										img(src="images/mailtemplate/shadow_corder_right_top.jpg")
				// Outer Container
				tr
					td(width="100%")
						table(width="680", align="center", cellspacing="0", cellpadding="0", border="0")
							tbody
								tr
									td(width="11")
										img(src="images/mailtemplate/shadow_left.jpg", width="11", height="100%")
									td(width="1", bgcolor="#dddddd")
									td(bgcolor="#f0f0f0")
										// Inner Container
										table(width="100", align="left", cellspacing="0", cellpadding="0", border="0")
											tbody

												//-------- Header
												// Line
												tr
													td(colspan="3", height="1", bgcolor="#dddddd")

												tr
													td(colspan="3")
														img(src="images/mailtemplate/header.jpg")
												// Line
												tr
													td(colspan="3", height="1", bgcolor="#dddddd")

												//-------- Main content
												// Spacer
												tr
													td(colspan="3", height="40")
												// Intro
												tr
													td(width="40")
													td(style="font-size:32px;") Hej #\{reciever\}
													td(width="40")
												// Spacer
												tr
													td(colspan="3", height="40")
												// Content
												tr
													td(width="40")
													td(style="font-size:16px; line-height:24px; color: #222222;")
														| #\{sender\} vil gerne vise dig sin favoritliste fra Lysmesterens Onlinekatalog.
														br
														| I kataloget kan du også se alle de nyeste tendenser indenfor belysningsdesign samt oprette din egen favoritliste.
														br
														br
														a(href="#")
															img(src="images/mailtemplate/button_list.jpg")
													td(width="40")
												// Spacer
												tr
													td(colspan="3", height="40")
												// Line
												tr
													td(colspan="3", height="1", bgcolor="#dddddd")

												//-------- Infobox 1
												// Spacer
												tr
													td(colspan="3", height="40" bgcolor="#f8f8f8")
												// Content
												tr
													td(width="40", bgcolor="#f8f8f8")
													td(bgcolor="#f8f8f8", style="font-size:16px; line-height:24px; color: #222222;") Vidste du at Lysmesteren er Danmarks største og mest seriøse kæde af belysningsbutikker og landets førende lampeforhandler.
													td(width="40", bgcolor="#f8f8f8")
												// Spacer
												tr
													td(colspan="3", height="40" bgcolor="#f8f8f8")
												// Line
												tr
													td(colspan="3", height="1", bgcolor="#dddddd")

												//-------- Infobox 2
												// Spacer
												tr
													td(colspan="3", height="40" bgcolor="#ffffff")
												// Content
												tr
													td(width="40", bgcolor="#ffffff")
													td(bgcolor="#ffffff", style="font-size:16px; line-height:24px; color: #6b6b6b;") Du modtager denne mail fordi din email-adresse er blevet oplyst i Lysmesterens Onlinekatalog.
													td(width="40", bgcolor="#ffffff")
												// Spacer
												tr
													td(colspan="3", height="40" bgcolor="#ffffff")
												// Line
												tr
													td(colspan="3", height="1", bgcolor="#dddddd")

									td(width="1", bgcolor="#dddddd")
									td(width="11")
										img(src="images/mailtemplate/shadow_right.jpg", width="11", height="100%")

				// Lower shadow
				tr
					td(width="100%")
						table(width="680", align="center", cellspacing="0", cellpadding="0", border="0")
							tbody
								tr
									td(width="11")
										img(src="images/mailtemplate/shadow_corder_left_bottom.jpg")
									td
										img(src="images/mailtemplate/shadow_bottom.jpg", width="100%", height="11")
									td(width="11")
										img(src="images/mailtemplate/shadow_corder_right_bottom.jpg")
				// lower space
				tr
					td(width="100%", height="10")










			//

				// upperHeader
				tr
					td(bgcolor="#030303", width="100%")
						table(width="680", align="center", cellspacing="0", cellpadding="0", border="0")
							tbody
								tr
									td(width="20", height="100%")
									td(width="640")
										table(width="640", align="center", cellspacing="0", cellpadding="0", border="0")
											tbody
												tr
													td(height="3")
												tr
													td(align="center", valign="top", style="color: #919191")
														a(href="*|ARCHIVE|*", style="color:#919191; font-size: 12px; text-decoration: none; display: block;", mc:edit="editor_upperheader_text")
															| Har du problemer med at se indholdet, KLIK HER
												tr
													td(height="4")
									td(width="20", height="100%")
				// header
				tr
					td(bgcolor="#edf5f8", width="100%")
						table(width="680", align="center", cellspacing="0", cellpadding="0", border="0")
							tbody
								tr
									td(width="20", height="100%")
									td(width="640")
										img(src="img/mailtemplate/mailtemplate_header.jpg", mc:edit="editor_header_img")
				tr
					td(bgcolor="#ffffff", width="100%", height="30")
				// Content
				tr
					td(bgcolor="#ffffff", width="100%")
						table(width="680", align="center", cellspacing="0", cellpadding="0", border="0")
							tbody
								tr
									td(width="20", height="100%")
									td(width="640")
										table(width="640", align="center", cellspacing="0", cellpadding="0", border="0")
											tbody
												tr
													td(style="font-family: Myriad Pro, Verdana, Arial, Helvetica, sans-serif; font-size:16px;", mc:edit="editor_content", id="templateBody") Content
									td(width="20", height="100%")
				// products
				//_tr(mc:hideable)
					td(bgcolor="#c6ac89", width="100%")
						table(width="680", align="center", cellspacing="0", cellpadding="0", border="0")
							tbody
								tr
									td(width="20", height="100%")
									td(width="640")
										table(width="640", align="center", cellspacing="0", cellpadding="0", border="0")
											tbody
												block productsContent
									td(width="20", height="100%")
				tr(mc:hideable)
					td( width="100%", height="70")
				tr
					td(bgcolor="#ffffff", width="100%")
						table(width="680", align="center", cellspacing="0", cellpadding="0", border="0")
							tbody
								tr
									td(width="20", height="100%")
									td(width="640")
										img(src="img/mailtemplate/mailtemplate_footer.jpg", mc:edit="editor_footer_img")
									td(width="20", height="100%")
				tr(mc:hideable)
					td( width="100%", height="30")
				tr
					td(bgcolor="#f6f6f6", width="100%")
						table(width="680", align="center", cellspacing="0", cellpadding="0", border="0")
							tbody
								tr
									td(width="20", height="100%")
									td(width="640")
										table(width="640", align="center", cellspacing="0", cellpadding="0", border="0")
											tbody
												tr
													td(width="100%", height="10")
												tr
													td(style="text-align:center; font-size: 12px; color: #000000;", mc:edit="editor_footer_unsub")
														| Hvis du ikke ønsker at modtage nyhedsmails mere, så klik&nbsp;
														a(href="*|UNSUB|*", style="color: #000000; font-size: 12px;") her
												tr
													td(width="100%", height="10")
									td(width="20", height="100%")