doctype html
html(lang="da")
  head
    title FDM Travel
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='./css/main.css')
    block head

    script(src='http://s1.adform.net/banners/scripts/rmb/Adform.DHTML.js')

  body
    block body
    block globalVars
      - var bannerClasses = "banner";

    section(class="#{bannerClasses}", data-ng-controller="bannerCtrl as banner")
      div.banner__fps(data-ng-bind="banner.fps")

      block content


    script(src='./assets/scripts/main.js')
