div.banner__160x600
  div.banner__logo
  div.banner__splash
    div.splash
      div.splash__inner
        div.splash__line1 Spar 50%
        div.splash__line2 299,-
  div.banner__footer
    div.banner__footerlogo

div.banner__930x600
  div.arrow
  div.arrow.arrow--right
  div.banner__logo
  div.banner__splash
    div.splash
      div.splash__inner
        div.splash__line1 Spar
        div.splash__line2 50%
  div.banner__categories
    div.banner__category
      div.checker
        div.checker__box
          input(type="checkbox")
          div.checker__ui
        div.checker__text Damesko
    div.banner__category
      div.checker
        div.checker__box
          input(type="checkbox")
          div.checker__ui
        div.checker__text Herresko
    div.banner__category
      div.checker
        div.checker__box
          input(type="checkbox")
          div.checker__ui
        div.checker__text Børnesko
  div.banner__productimage
    img(src="http://placehold.it/425x340")
  div.banner__productinfo
    div.rte
      img(src="http://placehold.it/130x21")
      div.rte__headline 299,-
      p.rte__tiny
        | 7282828282 · Damestr
        br
        | Normalpris 399,-
      a.btn Se detaljer her
      a.btn Se flere tilbud
  div.banner__footer
    div.banner__footerlogo
    div.banner__thumbs
      div.arrow.arrow--white
      div.arrow.arrow--right.arrow--white
      div.banner__thumb
        img(src="http://placehold.it/80x60")
      div.banner__thumb
        img(src="http://placehold.it/80x60")
      div.banner__thumb
        img(src="http://placehold.it/80x60")
      div.banner__thumb
        img(src="http://placehold.it/80x60")
      div.banner__thumb
        img(src="http://placehold.it/80x60")
