
form.form.banner__content.form--theme1
	div.grid--12.banner__logo
	div.grid--7
		div.grid--48
			div.form__select
				select
					option.form__option Hvor vil du rejse fra?
		div.grid__wedge
		div.grid--48
			div.form__select
				select
					option.form__option Hvor vil du hen?
					optgroup(label="Danmark")
						option.form__option København
					optgroup(label="Spanien")
						option.form__option Madrid
						option.form__option Costa del Sol
	div.grid--1
	div.grid--14
		div.grid--48
			div.grid--18
				div.form__label Udrejse:
			div.grid--18
				div.form__select
					select
						option.form__option Måned
			div.grid--12.grid--spaceleft
				div.form__select
					select
						option.form__option Dag
		div.grid__wedge
		div.grid--48
			div.grid--18
				div.form__label Hjemrejse:
			div.grid--18
				div.form__select
					select
						option.form__option Måned
			div.grid--12.grid--spaceleft
				div.form__select
					select
						option.form__option Dag
	div.grid--1
	div.grid--5
		div.grid--48
			div.form__select
				select
					option.form__option 2 voksne
		div.grid__wedge
		div.grid--48
			div.form__select
				select
					option.form__option 4 børn
	div.grid--1
	div.grid--7
		div.grid--48
			div.grid--12.grid--spaceright
				div.form__select.form__select--narrow
					select
						option.form__option -
						option.form__option 1
						option.form__option 2
						option.form__option 3
			div.grid--12.grid--spaceright
				div.form__select.form__select--narrow
					select
						option.form__option -
			div.grid--12.grid--spaceright
				div.form__select.form__select--narrow
					select
						option.form__option -
			div.grid--12
				div.form__select.form__select--narrow
					select
						option.form__option -
		div.grid__wedge
		div.grid--48
			input.form__button(type="button", value="Søg rejse")