
form.form.banner__content.form--theme1(name="bannerForm")
	div.grid--11.banner__logo
	div.grid--8
		div.grid--48
			div.form__select
				select(name="destinationFrom", id="destinationFrom")
					option.form__option(value="") Hvor vil du rejse fra?
					option.form__option(value="CPH") København
		div.grid__wedge
		div.grid--48
			div.form__select
				select(name="destinationTo", id="destinationTo")
					option.form__option(value="") Hvor vil du hen?
					optgroup(label="Frankrig")
						option.form__option(value="PAR") Paris
						option.form__option(value="NCE") Nice
					optgroup(label="Grækenland")
						option.form__option(value="CHQ") Chania
						option.form__option(value="HER") Heraklion
						option.form__option(value="ATH") Athen
					optgroup(label="Holland")
						option.form__option(value="AMS") Amsterdam
					optgroup(label="Italien")
						option.form__option(value="ROM") Rom
						option.form__option(value="VCE") Venedig
						option.form__option(value="FLR") Firenze
						option.form__option(value="MIL") Milano
					optgroup(label="Portugal")
						option.form__option(value="LIS") Lissabon
						option.form__option(value="FNC") Funchal
					optgroup(label="Spanien")
						option.form__option(value="BCN") Barcelona
						option.form__option(value="PMI") Palma de Mallorca
						option.form__option(value="AGP") Malaga
						option.form__option(value="MAD") Madrid
						option.form__option(value="LPA") Las Palmas
					optgroup(label="Storbritanien")
						option.form__option(value="LON") London
						option.form__option(value="EDI") Edinburgh
					optgroup(label="Thailand")
						option.form__option(value="BKK") Bangkok
						option.form__option(value="HKT") Phuket
					optgroup(label="Tjekkiet")
						option.form__option(value="PRG") Prag
					optgroup(label="Tyrkiet")
						option.form__option(value="IST") Istanbul
						option.form__option(value="TALA_R") Antalya
					optgroup(label="Tyskland")
						option.form__option(value="BER") Berlin
						option.form__option(value="HAM") Hamburg
					optgroup(label="USA")
						option.form__option(value="NYC") New York
						option.form__option(value="LAX") Los Angeles
						option.form__option(value="MIA") Miami
						option.form__option(value="ORL") Orlando
						option.form__option(value="SFO") San Francisco
	div.grid--1
	div.grid--14
		div.grid--48
			div.grid--18
				div.form__label Udrejse:
			div.grid--18
				div.form__select
					select(name="departureMonth", id="departureMonth")
						option.form__option(value="") Måned
						option.form__option(value="1") Januar
						option.form__option(value="2") Februar
			div.grid--12.grid--spaceleft
				div.form__select
					select(name="departureDay", id="departureDay")
						option.form__option(value="") Dag
						option.form__option(value="1") 1
		div.grid__wedge
		div.grid--48
			div.grid--18
				div.form__label Hjemrejse:
			div.grid--18
				div.form__select
					select(name="returnMonth", id="returnMonth")
						option.form__option(value="") Måned
						option.form__option(value="1") Januar
						option.form__option(value="2") Februar
			div.grid--12.grid--spaceleft
				div.form__select
					select(name="returnDay", id="returnDay")
						option.form__option(value="") Dag
						option.form__option(value="1") 1
	div.grid--1
	div.grid--5
		div.grid--48
			div.form__select
				select(name="countAdults", id="countAdults")
					option.form__option(value="1") 1 voksen
					option.form__option(value="2", selected="selected") 2 voksne
					option.form__option(value="3") 3 voksne
					option.form__option(value="4") 4 voksne
					option.form__option(value="5") 5 voksne
					option.form__option(value="6") 6 voksne
		div.grid__wedge
		div.grid--48
			div.form__select
				select(name="countChildren", id="countChildren")
					option.form__option(value="0", selected="selected") 0 børn
					option.form__option(value="1") 1 barn
					option.form__option(value="2") 2 børn
					option.form__option(value="3") 3 børn
					option.form__option(value="4") 4 børn
	div.grid--1
	div.grid--7
		div.grid--48
			div.grid--12.grid--spaceright
				div.form__select.form__select--narrow
					select(name="childOneAge", id="childOneAge")
						option.form__option(value="") -
						option.form__option(value="1") 1
						option.form__option(value="2") 2
						option.form__option(value="3") 3
			div.grid--12.grid--spaceright
				div.form__select.form__select--narrow
					select(name="childTwoAge", id="childTwoAge")
						option.form__option(value="") -
						option.form__option(value="1") 1
						option.form__option(value="2") 2
						option.form__option(value="3") 3
			div.grid--12.grid--spaceright
				div.form__select.form__select--narrow
					select(name="childThreeAge", id="childThreeAge")
						option.form__option(value="") -
						option.form__option(value="1") 1
						option.form__option(value="2") 2
						option.form__option(value="3") 3
			div.grid--12
				div.form__select.form__select--narrow
					select(name="childFourAge", id="childFourAge")
						option.form__option(value="") -
						option.form__option(value="1") 1
						option.form__option(value="2") 2
						option.form__option(value="3") 3
		div.grid__wedge
		div.grid--48
			input.form__button(type="button", value="Søg rejse", id="searchButton")