div.form__select
	select(name="countChildren", id="countChildren")
		option.form__option(value="0", selected="selected") 0 børn
		option.form__option(value="1") 1 barn
		option.form__option(value="2") 2 børn
		option.form__option(value="3") 3 børn
		option.form__option(value="4") 4 børn