div.form__select.form__select--narrow
	select(name="childOneAge", id="childOneAge")
		option.form__option(value="") -
		option.form__option(value="1") 1
		option.form__option(value="2") 2
		option.form__option(value="3") 3
		option.form__option(value="4") 4
		option.form__option(value="5") 5
		option.form__option(value="6") 6
		option.form__option(value="7") 7
		option.form__option(value="8") 8
		option.form__option(value="9") 9
		option.form__option(value="10") 10