div.form__select
	select(name="destinationTo", id="destinationTo")
		option.form__option(value="") Hvor vil du hen?
		optgroup(label="Frankrig")
			option.form__option(value="PAR") Paris
			option.form__option(value="NCE") Nice
		optgroup(label="Grækenland")
			option.form__option(value="CHQ") Chania
			option.form__option(value="HER") Heraklion
			option.form__option(value="ATH") Athen
		optgroup(label="Holland")
			option.form__option(value="AMS") Amsterdam
		optgroup(label="Irland")
			option.form__option(value="DUB") Dublin
		optgroup(label="Island")
			option.form__option(value="REK") Reykjavik
		optgroup(label="Italien")
			option.form__option(value="ROM") Rom
			option.form__option(value="VCE") Venedig
			option.form__option(value="FLR") Firenze
			option.form__option(value="MIL") Milano
		optgroup(label="Malta")
			option.form__option(value="MLA") Valetta
		optgroup(label="Østrig")
			option.form__option(value="VIE") Wien
		optgroup(label="Portugal")
			option.form__option(value="LIS") Lissabon
			option.form__option(value="FNC") Funchal
		optgroup(label="Spanien")
			option.form__option(value="BCN") Barcelona
			option.form__option(value="PMI") Palma de Mallorca
			option.form__option(value="AGP") Malaga
			option.form__option(value="MAD") Madrid
			option.form__option(value="LPA") Las Palmas
		optgroup(label="Storbritanien")
			option.form__option(value="LON") London
			option.form__option(value="EDI") Edinburgh
		optgroup(label="Thailand")
			option.form__option(value="BKK") Bangkok
			option.form__option(value="HKT") Phuket
		optgroup(label="Tjekkiet")
			option.form__option(value="PRG") Prag
		optgroup(label="Tyrkiet")
			option.form__option(value="IST") Istanbul
			option.form__option(value="TALA_R") Antalya
		optgroup(label="Tyskland")
			option.form__option(value="BER") Berlin
			option.form__option(value="HAM") Hamburg
		optgroup(label="Ungarn")
			option.form__option(value="BUD") Budapest
		optgroup(label="United Arab Emirates")
			option.form__option(value="DXB") Dubai
		optgroup(label="USA")
			option.form__option(value="NYC") New York
			option.form__option(value="LAX") Los Angeles
			option.form__option(value="MIA") Miami
			option.form__option(value="ORL") Orlando
			option.form__option(value="SFO") San Francisco