div.form__select
	select(name="departureMonth", id="departureMonth")
		option.form__option(value="", selected="selected") Måned
		option.form__option(value="1") Januar
		option.form__option(value="2") Februar