div.form__select
	select(name="destinationFrom", id="destinationFrom")
		option.form__option(value="") Hvor vil du rejse fra?
		option.form__option(value="CPH") København
		option.form__option(value="BLL") Billund
		option.form__option(value="AAL") Aalborg
		option.form__option(value="HAM") Hamborg