div.form__select
	select(name="countAdults", id="countAdults")
		option.form__option(value="1") 1 voksen
		option.form__option(value="2", selected="selected") 2 voksne
		option.form__option(value="3") 3 voksne
		option.form__option(value="4") 4 voksne
		option.form__option(value="5") 5 voksne
		option.form__option(value="6") 6 voksne