div.form__select.form__select--narrow
	select(name="childTwoAge", id="childTwoAge")
		option.form__option(value="") -
		option.form__option(value="1") 1
		option.form__option(value="2") 2
		option.form__option(value="3") 3