
.banner {
	@include fontSize(gamma, 0);
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: $color_sandy;
	color: $color_textDark;
	font-family: Arial, sans-serif;
	overflow: hidden;
}

.banner,
.banner__devinfo,
.banner__fps,
.banner__content,
.banner__veil,
.banner__logo,
.banner__attachment {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.banner__devinfo {
	position: absolute;
	bottom: 0;
	right: 0;
}

.banner__fps {
	position: absolute;
	bottom: 0;
	left: 0;
}

.banner__content {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 50;
	background-color: inherit;
	overflow: hidden;
	padding: 30px;
}

.banner__veil {
	@include transition(transform 500ms ease);
	@include transform-origin(0%, 0%);
	@include transform(translate(0%, 0%) rotate(0deg));
	display: block;
	position: absolute;
	width: 1000%;
	height: 100%;
	left: 0%;
	top: 0%;
	background-color: pink;
	z-index: 90;
}

.banner__logo {
	background-image: url('../images/logo.png');
	background-position: left top;
	background-size: contain;
	background-repeat: no-repeat;

}

.banner__attachment {
	display: block;
	position: absolute;
	top: - 100%;
	left: 0;
	&[disabled] {
		display: none;
	}
}

// Modifiers

.banner__veil--hide {
	@include transform(translate(0%, 0%) rotate(90deg));
}


// Banner sizes
.banner--930x180 {
	.banner__content {
		padding: 53px 50px 47px 50px;
	}
	.banner__logo {
		min-height: 80px;
		min-width: 180px;
	}
}

.banner--728x90 {
	.banner__content {
		padding: 20px 26px 17px 26px;
	}
	.banner__logo {
		min-height: 52px;
	}
	// This is not allowed
	.form__label {
		line-height: 22px;
	}
	.form__inputshared {
		height: 22px;
	}
}

.banner--500x500 {
	.banner__content {

	}
	.banner__logo {
		min-height: 50px;
	}
}

.banner--336x280 {
	.banner__content {

	}
	.banner__logo {
		min-height: 50px;
	}
}

.banner--300x250 {
	.banner__content {

	}
	.banner__logo {
		min-height: 50px;
	}
}

.banner--160x600 {
	.banner__content {

	}
	.banner__logo {
		min-height: 50px;
	}
}

.banner--120x600 {
	.banner__content {

	}
	.banner__logo {
		min-height: 50px;
	}
}