

$formInputHeight: 36px;

.form {
	display: block;
	width: 100%;
}

.form,
.form__inputshared,
.form__input,
.form__button,
.form__select,
.form__option,
.form__label {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.form__inputshared {
	//@include appearance(none);
	//@include fontSize(gamma, 0);
	@include border-radius(3px, 3px, 3px, 3px);
	display: block;
	font-size: inherit;
	padding: 0px 15px 0 5px;
	width: 100%;
	border: 1px solid $color_lightgrey;
	margin: 0;
	height: $formInputHeight;
	background-color: $color_white;
	//line-height: $formInputHeight;
	outline: none;
	vertical-align: middle;
	z-index: 1;
	&[disabled="disabled"] {
		opacity: 0.6;
		cursor: default;
	}
	&.ng-dirty {
		&.ng-invalid {
			border-color: $color_error;
		}
		&.ng-valid {
			//border-color: green;
		}
	}
}

.form__input {
	@extend .form__inputshared;
	& + & {
		margin-top: 2px;
	}
}

.form__button {
	//@include appearance(none);
	@extend .form__inputshared;
	background-color: $color_warmth;
	color: $color_white;
	border: none;
	cursor: pointer;
	font-weight: bold;
	padding: 0;
	&:hover {
		background-color: lighten($color_warmth, 10%);
	}
	&:active {
		background-color: darken($color_warmth, 5%);
	}
	&[disabled="disabled"] {
		&:hover,
		&:active {
			background-color: $color_warmth;
		}
	}
}

.form__select {
	@extend .form__inputshared;
	@include appearance(none);
	background-image: url('../images/dropdown_arrow.png');
	background-repeat: no-repeat;
	background-position: right center;
	position: relative;
	overflow: hidden;
	& > select {
		@extend .form__inputshared;
		@include appearance(none);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: inherit;
		padding-right: 0;
		margin: 0;
		outline: 0;
		border: 0;
		background-color: transparent;
		&::-ms-expand {
			display: none;
		}
	}
	&::-ms-expand {
		display: none;
	}
	&:after {
		content: "";
		//display: block;
		display: none;
		background-image: url('../images/dropdown_arrow.png');
		background-repeat: no-repeat;
		background-position: right center;
		position: absolute;
		right: 0;
		top: 0;
		background-color: inherit;
		//width: image-width('../images/dropdown_arrow.png');
		width: 19px;
		height: 100%;
		z-index: 50;
	}
}

.form__label {
	line-height: $formInputHeight;
}

.form__option {

}

// Modifiers

.form--theme1 {
	font-size: 13px;
	.form__label {
		font-size: 13px;
		font-weight: bold;
	}
}

.form--theme2 {

}

.form__select--narrow {
	padding-left: 2px;
	padding-right: 10px;
	&[disabled="disabled"] {
		opacity: 0;
	}
	&:after {
		z-index: 0;
	}
}

.form__select--hidden {
	@include appearance(none);
	appearance: none;
	//position: absolute;
	//top: 0;
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
	top: -2px;
	position: relative;
	z-index: 0;
	& + .form__input {

	}
}
