
/* Grid
---------------------------------------------------------------*/

$__gridSize: 48;
$__gridSpacing: 2px;

.grid,
[class*=grid--] {
	float: left;
	min-height: 1px;
	position: relative;
	width: 100%;
}


.grid,
[class*=grid--],
.grid__wedge {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

// Elements

.grid__wedge {
	display: block;
	float: left;
	clear: left;
	width: 100%;
	position: relative;
	height: 8px;
}

// Modifiers

.grid--spaceright {
	padding-right: $__gridSpacing;
	@include mediaQueries(tablet){
		padding-right: 0;
		padding-bottom: $__gridSpacing;
	}
	@include mediaQueries(mobile){
		padding-right: 0;
		padding-bottom: $__gridSpacing;
	}
}

.grid--spaceleft {
	padding-left: $__gridSpacing;
	@include mediaQueries(tablet){
		padding-left: 0;
		padding-top: $__gridSpacing;
	}
	@include mediaQueries(mobile){
		padding-left: 0;
		padding-top: $__gridSpacing;
	}
}

.grid--spacebottom {
	margin-bottom: $__gridSpacing;
}

.grid--spacetop {
	margin-top: $__gridSpacing;
}

.grid--alignright {
	text-align: right;
}

.grid--aligncenter {
	text-align: center;
}

@for $i from 1 through $__gridSize {
	.grid--#{$i} {
		width: 100% / $__gridSize * $i;
	}
}

.grid__wedge--size2 {
	height: 12px;
}

.grid__wedge--size3 {
	height: 16px;
}

.grid__wedge--size4 {
	height: 20px;
}

.grid__wedge--size5 {
	height: 24px;
}

.grid__wedge--size6 {
	height: 28px;
}

.grid__wedge--size7 {
	height: 32px;
}

.grid__wedge--size8 {
	height: 36px;
}

.grid__wedge--size9 {
	height: 40px;
}

.grid__wedge--size10 {
	height: 44px;
}

.grid__wedge--size11 {
	height: 48px;
}

.grid__wedge--size12 {
	height: 52px;
}