
.overview {
	display: block;
	width: 100%;
	min-height: 100%;
	margin: 0;
	background-color: $color_black;
}

.overview,
.overview__iframe {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.overview__iframe {
	display: block;
	clear: both;
	overflow: hidden;
	& + & {
		margin-top: 30px;
	}
}