extends ../master_banner

block append head

block append body

block append globalVars
	- bannerClasses += " banner--160x600";

block append content

	div.banner__devinfo 160x600
	include ../blocks/dev_banner_content