extends ../master_banner

block append head

block append body

block append globalVars
	- bannerClasses += " banner--336x228";

block append content

	div.banner__devinfo 336x228
	include ../blocks/dev_banner_content