extends ../master_banner

block append head

block append body

block append globalVars
	- bannerClasses += " banner--728x90";

block append content

	div.banner__devinfo 728x90
	include ../blocks/dev_banner_content