extends ../master_banner

block append head

block append body

block append globalVars
	- bannerClasses += " banner--930x180";

block append content

	div.banner__devinfo 930x180

	form.form.banner__content.form--theme1(name="bannerForm")
		div.grid--11.banner__logo
		div.grid--8
			div.grid--48
				include ../blocks/select_destination_from
			div.grid__wedge
			div.grid--48
				include ../blocks/select_destination_to
		div.grid--1
		div.grid--14
			div.grid--48
				div.grid--18
					div.form__label Udrejse:
				div.grid--18
					include ../blocks/select_departure_month
				div.grid--12.grid--spaceleft
					include ../blocks/select_departure_day
			div.grid__wedge
			div.grid--48
				div.grid--18
					div.form__label Hjemrejse:
				div.grid--18
					include ../blocks/select_return_month
				div.grid--12.grid--spaceleft
					include ../blocks/select_return_day
		div.grid--1
		div.grid--5
			div.grid--48
				include ../blocks/select_count_adults
			div.grid__wedge
			div.grid--48
				include ../blocks/select_count_children
		div.grid--1
		div.grid--7
			div.grid--48
				div#childHeadline.banner__attachment
					div.form__label Alder børn:
				div.grid--12.grid--spaceright
					include ../blocks/select_child_one_age
				div.grid--12.grid--spaceright
					include ../blocks/select_child_two_age
				div.grid--12.grid--spaceright
					include ../blocks/select_child_three_age
				div.grid--12
					include ../blocks/select_child_four_age
			div.grid__wedge
			div.grid--48
				input.form__button(type="button", value="Søg rejse", id="searchButton")