extends ../master


block append head

block append body

block append content

  iframe.overview__iframe(src="930x600.html", width="930", height="600", scrolling="no", frameborder="0")
  iframe.overview__iframe(src="160x600.html", width="160", height="600", scrolling="no", frameborder="0")


  //div.banner.banner--160x600
    include ../blocks/banner

  //div.banner.banner--930x600
    include ../blocks/banner
