extends ../master


block append head

block append body

block append content

	iframe.overview__iframe(src="930x180.html", width="980", height="180", scrolling="no", frameborder="0")
	//iframe.overview__iframe(src="728x90.html", width="728", height="90", scrolling="no", frameborder="0")
	//iframe.overview__iframe(src="500x500.html", width="500", height="500", scrolling="no", frameborder="0")

	//--//iframe.overview__iframe(src="468x60.html", width="468", height="60", scrolling="no", frameborder="0")

	//iframe.overview__iframe(src="336x228.html", width="336", height="228", scrolling="no", frameborder="0")
	//iframe.overview__iframe(src="300x250.html", width="300", height="250", scrolling="no", frameborder="0")
	//iframe.overview__iframe(src="160x600.html", width="160", height="600", scrolling="no", frameborder="0")

	//--//iframe.overview__iframe(src="120x600.html", width="120", height="600", scrolling="no", frameborder="0")






	//div Weeeeeh!!
		- var arr=['200x200.html', '300x300.html'];
		- for (var i=0;i<arr.length;i++)
			- var banner = arr[i];
			div= banner
			iframe(src="#{banner}")